/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Fredoka:wght@300;400;700&family=Merriweather:wght@300&family=Montserrat:ital@1&family=Oswald&family=Poppins:wght@300;400;500;700&family=Red+Rose&display=swap');

*,*::before,*::after {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.logo{
  color: white;
  position: absolute;
  left: 2%;
  top: 2%;
}
nav{
  display: flex;
  padding: 2rem;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  color: white;
}

.nav-item-active{
  padding: .2rem .5rem;
  background-color: white;
  color: black;
  cursor: pointer;
}
header{
  background-color: #4518fe;
}
.header-text{
  position: relative;
}
.header-image{
  position: absolute;
  right:0%;
  top:1%
}
.header-text h2,
.header-text p{
  color: #ffffff;
  padding: 1rem 2rem

}
.header-title{
  font-size: 3rem;
}
.header-text p{
  padding-bottom:7rem;
  font-size: 1.1rem;
}
.rectangle-img{
  padding-left: 2rem;
}
.companies{
  padding: 3rem;
  display: flex;
  gap: 2rem;
}
.company-items{
  color: black;
  font-weight: 900;
}
.api{
  padding: 2rem;
  background-color: hsl(240deg 17% 98%);

}
.api-heading{
  font-size: 3rem;
  font-weight: 900;
  padding: 1rem;
}
.cards{
  padding: 1rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.cards :first-child{
  background-color:hsl(0deg 0% 100%);
  padding: 1.5rem .5rem;
  
}
 .blog-heading{
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 900;
} 
.blog-bottom{
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
.blog-cards{
  display: flex;
  background-color:hsl(240deg 17% 98%);
  flex-wrap: wrap;
}
.blog-card{
  display: flex;
  width: 50%;
  padding: 0rem 2rem 2rem 2rem;
  background-color: hsl(0deg 0% 100%);
}
.blog-content{
  padding: 2rem;
}
.blog-content > h6{
  color:hsl(252deg 97% 59%);
  font-weight: 900;
}
.blog-content > h3{
  font-weight: 900;
}
.blog-author{
  padding-left:.7rem;
}

small{
  font-weight: 500;
}
.faq-section{
  display: flex;
  /* background-color: hsl(229deg 100% 96%); */

}
.faq-content{
  padding: 2rem;
  background-color: hsl(229deg 100% 96%);
  width: 50%;
}

.faq-content > h2{
  font-size: 2rem;
}
.faq-para{
  font-size: 1.1rem;
  font-weight: 600;
}
.faq-content > h4{
  font-size: .9rem;
  font-weight: 500;
  padding: 1rem 4rem 1rem 0;
}

.faq-image{
  background-color:hsl(229deg 100% 96%);
  width:50%
}
.faq-image img{
  width: 100%;
}
.faq-button{
  padding: .5rem 1.5rem;
  margin: 1rem 0;
  border: 0;
  color: #ffffff;
  background-color:hsl(252deg 97% 59%);
}
.download-section{
  padding: 4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.now{
  font-weight: 300;
}
.email{
  padding: .5rem 5rem .5rem .5rem;
  border-radius: 22px;
  background-color: hsl(229deg 100% 96%);
  border: 0;
}
.email::placeholder{
  color: black;
}
.download-btn{
  padding: .5rem 2rem;
  border-radius: 20px;
  background-color:hsl(252deg 97% 59%);
  color: white;
  border: 0;
  font-weight: 500;
}
.footer-section{
  display: flex;
  justify-content: space-between;
  background-color: hsl(252deg 96% 54%);
  padding: 2rem;
}
.footer-logo{
  color:#ffffff;
}
.list,
.logos-list{
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
  color: white;
  font-size: .9rem;
}
.footer-right{
  display:flex;
  gap: 1rem;
}

@media only screen and (max-width:768px) {
    .header-title{
      font-size: 1.25rem;
      width: 60%;
    }
    .header-content p{
      width: 60%;
    }
    .header-image{
      top: 10%;
      width: 40%
    }
    .logo{
      height: 40px;
    }
    .nav-item{
      font-size: 0.75rem
    }
    .api{
      padding:1rem;
    }
    .api-heading {
      font-size: 2rem;
    }
    .blog-heading h1{
      font-size: 2rem;
    }
    .blog-card{
      width: 100%;
    }
    .faq-content > h2{
      font-size: 1.5rem
    }
    .faq-content>h4,
    .faq-para {
      font-size: .75rem
    }
}

@media only screen and (max-width:420px) {
  .logo{
    height: 30px;
  }
  .nav-item{
    display:none;
  }
  .nav-item-active {
    font-size: 0.75rem;
  }
  .header-image{
    position: relative;
    width: 95%;
  }
  .header-title {
    font-size: 1.25rem;
    width: 100%;
  }

  .header-content p,
  .header-content h2 {
    padding: 1rem;
    width: 100%;
  }

  .companies, 
  .blog-content{
    padding: 1rem;
  }

  .blog-heading h1 {
    font-size: 1rem;
  }

  .blog-card,
  .faq-section,
  .download-section{
    display: block;
  }

  .faq-content,
  .faq-image {
    width: 100%;
  }

  .download-btn{
    margin-top: 1rem;
  }

  .footer-logo{
    height: 20px;
  }

  .list,
  .logos-list{
    display: block;
  }
  .list-items{
    padding: 0.5rem;
  }
}